<h1><%= @theusername.username %></h1>

<dl>
  <dt>ID</dt>
  <dd><%= @theusername.id %></dd>

  <dt>Edit user</dt>
  <dd> 
    <form action="/update_user/<%= @theusername.username %>">
      <label for="edit_uname">Username</label>
      <input id="edit_uname" type="text"  value="<%=@theusername.username%>" name="edit_uname">
  
      <button>Update user</button>

    </form>
  </dd>

</dl>

<h2>Own photos (<%= @theusername.own_photos.count %>)</h2>
<table border="1">
  <tr>
   <th> Image </th>
   <th> Owner </th>
   <th> Caption </th>
   <th> Posted </th>
   <th> </th>
  </tr>

  <% photos_array = @theusername.own_photos %>
  <% photos_array.each do |a_photo| %>
  <tr>
    <td> <img src="<%= a_photo.image %>"> </td>
    <td> <%= a_photo.poster.username %> </td>
    <td> <%= a_photo.caption %> </td>
    <td> <%= a_photo.created_at %> </td>
    <td> <a href="/photos/<%= a_photo.id %>">Show details </td>
  </tr>
  <% end %>
</table>


