<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd><img src="<%= @thephoto.image %>"></dd>

  <dt>Caption</dt>
  <dd><%= @thephoto.caption %></dd>

  <dt>Owner</dt>
  <dd> <%= @thephoto.poster.username %></dd>

  <dt>posted</dt>
  <dd><%= @thephoto.created_at %></dd>

  <dt>Edit photo</dt>
  <dd>
    <form action="/update_photo/<%= @thephoto.id %>">
      <label for="edit_photo">Image</label>
      <input id="edit_photo" type="text" placeholder="Enter a URL of the image..." value="<%= @thephoto.image %>" name="new_img">

      <label for="new_caption">Caption</label>
      <textarea id="new_caption" type="text" placeholder="Enter a caption for ths photo..." name="new_cap"><%= @thephoto.caption %> </textarea>
      
      <button>Update photo</button>
    </form>
  </dd>

  <dt> Delete photo</dt>
  <dd> <a href="/delete_photo/<%= @thephoto.id %>">Delete this photo</a></dd>

</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th> Commenter </th>
    <th> Comment </th>
    <th> Posted </th>
  </tr>

  <% all_comment = @thephoto.comments %>
  <% all_comment.each do |a_comment| %>
  <tr>
    <td><%= a_comment.commenter.username%></td>
    <td><%= a_comment.body %></td>
    <td><%= a_comment.created_at %></td>
  </tr>
  <% end %>

</table>


<h3>Add a new comment</h3>

<form action="/new_comment">
  <label for="new_comment_photo_id"> Photo ID </label>
  <input id="new_comment_photo_id" name="new_com_ph_id" value="<%= @thephoto.id %>" >

  <label for="new_comment_author_id"> Author ID </label>
  <input id="new_comment_author_id" name="new_com_au_id">

  <label for="new_comment"> Comment </label>
  <textarea id="new_comment" name="new_com"  placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>

</form>